html *{
    -webkit-font-smoothing: antialiased;
}

.h6, h6 {
    font-size: .75rem !important;
    font-weight: 500;
    line-height: 1.5em;
    text-transform: uppercase;
}

.name h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

a .material-icons {
    vertical-align: middle;
}

.fixed-top {
    position: fixed;
    z-index: 1030;
    left: 0;
    right: 0;
}

.profile-page .page-header {
    height: 180px;
    background-position:center;
}

.page-header {
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    background-image: url("/static/img/cyberbackground.jpg");
    background-repeat: no-repeat;
}

.header-filter {
    background-color: #CCC;
}

.main-raised {
    margin: -60px 30px 50px 30px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
    background: #FFF;
    position: relative;
    z-index: 3;
}

.profile-page .profile {
    text-align: center;
}

.box-1-1 {
    position: relative;
    max-width: 160px;
    width: 100%;
    padding-bottom: min(100%, 160px);
    margin: 0 auto;
}

.profile-img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;

    /* Avatar isn't generated perfectly center */
    padding-top: 12px;
    padding-left: 12px;

    background-color: white;
    -webkit-transform: translate3d(0%,-50%,0);
    -moz-transform: translate3d(0%,-50%,0);
    -o-transform: translate3d(0%,-50%,0);
    -ms-transform: translate3d(0%,-50%,0);
    transform: translate3d(0%,-50%,0);
}

.profile-page .profile img {
    width: 100%;
    height: 100%;
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.rounded-circle {
    border-radius: 50%!important;
}

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    /* color: #3C4858; */
    font-weight: 700;
}

.profile-page .description {
    margin: 1.071rem auto 0;
    max-width: 600px;
    color: #999;
    font-weight: 300;
}

p {
    font-size: 14px;
    margin: 0 0 10px;
}

.profile-page .profile-tabs {
    margin-top: 4.284rem;
}

.tab-space {
    padding: 20px 0 50px;
}

.profile-page .profile .name{
    margin-top: -80px;
}

img.rounded {
    border-radius: 6px!important;
}

.tab-content>.active {
    display: block;
}
