{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}

<h1>
<center> About </center>
</h1>
<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-users"></i></div>
    <div class="divider-custom-line"></div>
</div>
<div class="text-center text-secondary mb-0">
    <p>
        See below for our group member's biographies
    </p>
</div>  

<section class="page-section">
    <div class="container">
            <div class="text-center text-secondary mb-0">
                <p> 
                    {% comment %} <center> {% endcomment %}
                    <h1  class="page-title"> <a id="NAME"></a> Andrew Mahr </h1>    

                        {% comment %} <h2  class="page-title"> <a id="PICTURE"></a> Picture </h2>  {% endcomment %}
                            <img class="masthead-avatar mb-5" src="{% static 'img/Andrew-Logo-Rounded.png'%}" alt="" style="width:20%; height:20%;" />
                    <br/>      

                        <h2  class="page-title"> <a id="BIO"></a> Bio </h2> 
                            <p align="justify">
                               Undergraduate Senior studying Cybersecurity & Networks with experience in Digital Forensics, Artificial Intelligence and Machine Learning. Andrew enjoys playing golf and is a member of Charger Ultimate. Andrew envisions work within the government sector and is actively looking for internships.
                            </p>

                    <br/>

                    <h2  class="page-title"> <a id="EXPERIENCE"></a> Experience </h2> 
                            <p align="center">
                                <b>Artifact Genome Project: Team Lead, Research Assistant</b> <br/> 
                                 <ul>
                                    <li>Leads team of 7 students and tasked with vetting and approving Digital Artifacts and Educational Modules</li>
                                    <li>Conducts research into mobile device applications and produces digital artifacts</li>
                                    <li>Helps to organize and host events involving the AGP platform</li>
                                </ul>
                            </p>
                            <p align="center">
                                <b>UNHcFREG Hacking Team</b> 
                            </p>
                    <br/>

                    <h2  class="page-title"> <a id="RESEARCH"></a> Research </h2>
                            <p align="justify">
                            <center> <b>Artifact Genome Project</b> <br/> </center>
                            
                            <ul>
                                <li> Conducted a disk, memory, and network analysis of the Zoom Video Communications Application.
                                <li> Currently conducting a disk analysis of Apple Carplay & Android Auto.
                                <li> Currently creating educational modules to teach AGP users about digital artifacts and engage them in challenges and exercises
                            </ul>
                            </p>
                    </br>
                    
                    <h2  class="page-title"> <a id="SKILLS"></a> Skillset </h2>
                            
                            <b>Hard Skills:</b>
            
                            <br/> 
                                      
                                <ul>
                                    <li>MS Office, WordPress Website design, Django (minmal), Artifact Digging</li>
                                    <li>C / C++, Python, MySQL / Database Design, HTML5 / CSS (some)</li>
                                    <li>Kali Linux (Wireshark, Nmap, Metasploit, etc.), Reconnaissance / Enumeration, Exploitation, Virtualization, Windows / Unix Sys. Admin., Machine and Reinforcement Learning</li>
                                    <li>Digital Forensic tools (Autopsy, XRY, etc)</li>
                                </ul>
                                
                            <b>Soft Skills:</b> 
                                
                                <br/> 

                                <ul>
                                    <li>English, Spanish</li>
                                    <li>Efficient multitasking</li>
                                    <li>Confident in leading teams</li>
                                    <li>Effective communicator</li>
                                    <li>Customer Service</li>
                                </ul>
                    </br>
                    
                    <h2  class="page-title"> <a id="PUBLICATIONS"></a> Pending Publications</h2>
                        <p align="center">
                            Zooming Into the Pandemic: A Forensic Analysis of the Zoom Application. Andrew Mahr, Meghan Cichon, Sophia Mateo, Cinthya Grajeda, Ibrahim Baggili. Submitting for publishing in July of 2020 to Elsevier and its Journal of Forensic Science International Digital Investigation. 
                        </p>
                    
                    <h2  class="page-title"> <a id="COURSES"></a> Courses </h2> 
                            <p align="center">
                                <ul>
                                    <li>Algorithm Design and Analysis</li>
                                    <li>C Programming</li>
                                    <li>Computer Organization</li>
                                    <li>Discrete Math</li>
                                    <li>Introduction to Computer Security</li>
                                    <li>Introduction to Cyber Forensic Science</li>
                                    <li>Data Structures and Algorithms</li>
                                    <li>Databases and SQL</li>
                                    <li>Digital Systems</li>
                                    <li>Network Essentials and Technologies</li>
                                    <li>Operating Systems</li>
                                    <li>Python/Script Programming</li>
                                    <li>Calculus I-II</li>
                                </ul>   
                            </p>

                        
                    {% comment %} </center>     {% endcomment %}
                </p>

                <br/>
                <br/>
                <br/>

                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-line"></div>
                </div>
                <br/>
                <p> 
                    <center>
                    <h1  class="page-title"> <a id="NAME"></a> Steven Atilho </h1> 

                    <br/>
                    
                        {% comment %} <h2  class="page-title"> <a id="PICTURE"></a> Picture </h2>  {% endcomment %}
                            <img class="masthead-avatar mb-5" src="{% static 'img/SteveProfile.jpg'%}" alt="" style="width:20%; height:20%;" />
                            
                    <br/>      
                    
                        <h2  class="page-title"> <a id="BIO"></a> Bio </h2> 
                            <p align="center">
                                University of New Haven hacking team member with skills in ethical hacking, system administration and networking. Junior undergraduate pursuing a bachelor's 
                                degree in Computer Science at UNH, with research interests in the areas of cybersecurity and AI. I am a self-motivated and passionate leader seeking to build 
                                the foundation for a career in the fields of DevSecOps and ITSec. 
                            </p>
                        
                    <br/>

                        <h2  class="page-title"> <a id="EXPERIENCE"></a> Experience </h2> 
                            <p align="center">
                                <b>UNH Hacking Team:</b> 
                                
                                <br/> 

                                <ul>
                                    <li>Compete in penetration testing and defense competitions at the local and national level (CPTC, CCDC, ISTS).</li>
                                    <li>Improve essential cybersecurity skills such as scripting, networking, ethical hacking, and system administration.</li>
                                    <li>Host weekly hacking club meetings offering educational presentations, and hands-on CTFs or training sessions.</li>
                                </ul>
                            </p>
                            <p align="center">
                                <b>TechLot Services LLC:</b> 
                                
                                <br/> 

                                <ul>
                                    <li>Design, build, host and maintain web/email/database servers for clients.</li>
                                    <li>Diagnose and repair software/hardware issues on Windows devices.</li>
                                    <li>Perform certified Apple iPhone 5 - X/XR/XS smartphone repair.</li>
                                </ul>
                                
                            </p>

                    <br/>

                        <h2  class="page-title"> <a id="RESEARCH"></a> Research </h2>
                            <p align="center">
                                <b>ONR Cyber Operative Research Scholars Program (CORES):</b> 
                                
                                <br/> 

                                <ul>
                                    <li>Hired on the prestigious Office of Naval Research grant for one-year research experience in cybersecurity areas.</li>
                                    <li>Researching dark web digital foot-printing and artifact analysis, by investigating the use of machine learning in
                                        crawling dark web text-based data for surface web alias attribution and cyber threat intelligence.</li>
                                    <li>Completing the online Entrepreneurial Mindset (EM) modules and Collaborative Institutional Training Initiative
                                        (CITI) courses.</li>
                                </ul>
                                
                            </p>
                    <br/> 

                        <h2  class="page-title"> <a id="SKILLS"></a> Skillset </h2>
                            
                            <b>Hard Skills:</b>
            
                            <br/> 
                                      
                                <ul>
                                    <li>AWS, Git / Github, Docker, MS Office</li>
                                    <li>C / C++, Python, Powershell, MySQL / Database Design, Java, HTML5 / CSS</li>
                                    <li>Kali Linux (Wireshark, Nmap, Metasploit, etc.), ARP / DNS Poisoning, Reconnaissance / Enumeration, Exploitation, Virtualization, Windows / Unix Sys. Admin., Active Directory</li>
                                </ul>
                                
                            <b>Soft Skills:</b> 
                                
                                <br/> 

                                <ul>
                                    <li>English, Portuguese, Spanish</li>
                                    <li>Efficient multitasker</li>
                                    <li>Confident leader</li>
                                    <li>Effective communicator</li>
                                    <li>Customer Service</li>
                                    <li>CPR/AED Certified</li> 
                                </ul>
                                            
                    <br/>

                        <h2  class="page-title"> <a id="COURSES"></a> Courses </h2> 
                            <p align="center">
                                <ul>
                                    <li>Algorithm Design and Analysis</li>
                                    <li>C Programming</li>
                                    <li>Computer Architecture</li>
                                    <li>Computer Security</li>
                                    <li>Data Structures and Algorithms</li>
                                    <li>Databases and SQL</li>
                                    <li>Digital Systems</li>
                                    <li>Java Programming</li>
                                    <li>Networking I</li>
                                    <li>Operating Systems</li>
                                    <li>Python/Script Programming</li>
                                    <li>Calculus I-III</li>
                                    <li>Linear Algebra</li>
                                </ul>   
                            </p>

                    </center>    
                </p>

                <br/>
                <br/>

                
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-line"></div>
                </div>
                
                <br/>

         <p> 
            <center>
            <h1  class="page-title"> <a id="NAME"></a> Brandon Trundy </h1> 

            <br/>
            
                {% comment %} <h2  class="page-title"> <a id="PICTURE"></a> Picture </h2>  {% endcomment %}
                    <img class="masthead-avatar mb-5" src="{% static 'img/Brandon.jpg'%}" alt="" style="width:20%; height:20%;" />
                    
            <br/>      
            
                <h2  class="page-title"> <a id="BIO"></a> Bio </h2> 
                    <p align="center">
                        A junior majoring in Cybersecurity and network with a concentration in Cyber Operations. Some of my Favorite classes have been, Digital Forensic, MySQL and Databases and networking.
                        A passion for Cyber forensics and cyber Security. hobbies include  Firearms, Hunting, programming and hanging out with friends. 
                    </p>
                
            <br/>

                <h2  class="page-title"> <a id="EXPERIENCE"></a> Experience </h2> 
                    <p align="center">
                        <b>JP Electrical:</b> 
                        
                        <br/> 

                        <ul>
                            <li> Experienced working with electrical equipment and basic wiring techniques </li>
                            <li> Experience in wiring solar fields and underground wiring.</li>
                        </ul>
                    </p>
                    <p align="center">
                        <b>The Hops Company:</b> 
                        
                        <br/> 

                        <ul>
                            <li> Worked as a barback during night shifts. </li>
                            <li> Experience working in a fast paced team environment.</li>
                        </ul>
                        
                    </p>

            <br/>


                <h2  class="page-title"> <a id="SKILLS"></a> Skillset </h2>
                    
                    <br/>
                    <b> Programming Languages </b>
                     <ul>
                         <li> C </li>
                         <li> C++ </li>
                         <li> Java </li>
                         <li> Databases / SQL </li>
                         <li> Python </li>
                         <li> HTML / CSS </li>
                     </ul>
                 </p>
                 <br/>
                     <b> Other Software Skills </b>
                     <ul>
                         <li> Wireshark </li>
                         <li> Nmap (Port Scanning) </li>
                         <li> Packet Tracer
                         <li> Arduino Sofware (Microcontroller programming)</li>  
                     </ul>
                     </ul>
                  </p>

            <br/>

                <h2  class="page-title"> <a id="COURSES"></a> Courses </h2> 
                    <p align="center">
                        <ul>
                            <li>Algorithm Design and Analysis</li>
                            <li>C Programming</li>
                            <li>Computer Architecture</li>
                            <li>Computer Security</li>
                            <li>Data Structures and Algorithms</li>
                            <li>Databases and SQL</li>
                            <li>Digital Systems</li>
                            <li>Java Programming</li>
                            <li>Networking I</li>
                            <li>Operating Systems</li>
                            <li>Python/Script Programming</li>
                            <li>Calculus I-III</li>
                            <li>Linear Algebra</li>
                        </ul>   
                    </p>
            <br/>
            <br/>
            </center>    
        </p>



                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-line"></div>
                </div>

                </br>
                
                <p> 
                    <center>
                    <h1  class="page-title"> <a id="NAME"></a> Colin Dunn </h1> 

                    <br/>
                    
                        {% comment %} <h2  class="page-title"> <a id="PICTURE"></a> Picture </h2>  {% endcomment %}
                            <img class="masthead-avatar mb-5" src="{% static 'img/ColinWebsitePicture.jpg'%}" alt="" style="width:20%; height:20%;" />
                            
                    <br/>      
                    
                        <h2  class="page-title"> <a id="BIO"></a> Bio </h2> 
                            <p align="center">
                                A junior majoring in cybersecurity and networks at the University of New Haven. A motivated individual who is also on the university's Cross Country / Track and Field teams. 
                                Career interests include working in either the digital forensics or cybersecurity field. Favorite hobbies include playing hockey, running and, hanging out with friends.
                                Has experience being a leader as he was the captain of high school Cross Country / Track and field teams.   
                            </p>
                        
                    <br/>

                        <h2  class="page-title"> <a id="EXPERIENCE"></a> Work Experience </h2> 
                            <p align="center">
                                <b> Alarmex Inc. </b> 
                                
                                <br/> 

                                <ul>
                                    <li> Experienced working with the programming of fire alarm systems </li>
                                    <li> Experience in the wiring of smoke and heat detectors </li>
                                </ul>
                            </p>
                            <p align="center">
                                <b> Stellos Electric </b> 
                                
                                <br/> 

                                <ul>
                                    <li> Ran and wired Cat 5 cable for the connection of ethernet in a network </li>
                                    <li> Got hands on experience with electrical wiring </li>
                                    <li> Got a better understanding of how blueprints and schematic diagrams work </li>
                                </ul>
                                
                            </p>

                    <br/> 

                    <h2  class="page-title"> <a id="SKILLS"></a> Skillset </h2>
                    <p align="center">
                    
                    <br/>
                       <b> Programming Languages </b>
                        <ul>
                            <li> C </li>
                            <li> C++ </li>
                            <li> Java </li>
                            <li> Databases / SQL </li>
                            <li> Python </li>
                            <li> HTML / CSS </li>
                        </ul>
                    <br/>
                        <b> Other Software Skills </b>
                        <ul>
                            <li> Wireshark </li>
                            <li> Nmap (Port Scanning) </li>
                            <li> Quartus Software </li>
                            <li> Ardunio Software (Microcontroller programming) </li> 
                        </ul>
                    <br/>
                        <b> Non-Technical Skills </b> 
                        <ul>
                            <li> Can step into the leader role when needed </li>
                            <li> Communication Skills</li>
                            <li> Can work well within a team </li>  
                        </ul> 
                     </p>
                                            
                    <br/>

                    <h2  class="page-title"> <a id="COURSES"></a> Courses </h2>
                    <p align="center">
                    <br/>
                        <b> Courses Taken </b>
                        <ul>
                            <li> Intro to C Programming </li>
                            <li> Intermediate Programming C and C++ </li>
                            <li> Java Programming </li>
                            <li> Databases and SQL </li>
                            <li> Script Programming / Python  </li>
                            <li> Discrete Mathematics for Computing </li>
                            <li> Digital Systems I </li>
                            <li> Computer Organization </li>
                            <li> Operating Systems </li>
                            <li> Networking Essentials & Tech </li>
                            <li> Intro to Cyber Forensic Science </li>
                            <li> Intro to Computer Security </li>
                        </ul>
                        
                    </p>

                    </center>    
                </p>
                <br/>
                <br/>   

                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-line"></div>
                </div>
                <br/>

                <p> 
                    <center>
                    <h1  class="page-title"> <a id="NAME"></a> Andrew Manfredi </h1> 
                    <br/>
                        {% comment %} <h2  class="page-title"> <a id="BIO"></a> Picture </h2>  {% endcomment %}
                            <img class="masthead-avatar mb-5" src="{% static 'img/andymatrix.png'%}" alt="" style="width:20%; height:20%;" />
                            <br/>      
                    
                            <h2  class="page-title"> <a id="BIO"></a> Bio </h2> 
                                <p align="center">
                                    An Undergraduate Junior pursuing a major in Cybersecurity & Networks and a minor in Spanish.
                                    The (former) secretary of the UNH Bowling Club, mediocre meditator, and intermediate guitar player.
                                    Quick to bring structure to unstructured groups and is a master in the art of fixing grammatical errors and peer editing (time-permitting).   
                                </p>
                            
                        <br/>
    
                            <h2  class="page-title"> <a id="EXPERIENCE"></a> Work Experience </h2> 
                                <p align="center">
                                    <b>The Robert E. Morris Company (Intern for 3 years)</b> 
                                    
                                    <br/> 
    
                                    <ul>
                                        <li>Prepping, packing, and shipping machines</li>
                                        <li>Designing Word documents and Excel spreadsheets</li>
                                        <li>Light rigging of computer numerical control (CNC) machines</li>
                                    </ul>
                                </p>
    
                        <br/> 
    
                        <h2  class="page-title"> <a id="SKILLS"></a> Skillset </h2>
                        <p align="center">
                        
                        <br/>
                           <b> Programming Languages </b>
                            <ul>
                                <li> C </li>
                                <li> C++ </li>
                                <li> HTML/CSS </li>
                                <li> Python </li>
                                <li> R </li>
                                <li> SQL </li>
                                <li> VBA </li>
                            </ul>
                        <br/>
                            <b> Group Skills </b> 
                            <ul>
                                <li> Takes control of unstructured teams </li>
                                <li> Reaches out to and checks in with struggling team members </li>
                                <li> Verifies grammatical and formatting consistency of group work </li>
                            </ul>
                         </p>
                                                
                        <br/>
    
                        <h2  class="page-title"> <a id="COURSES"></a> Courses </h2>
                        <p align="center">
                        <br/>
                            <b> Courses Taken </b>
                            <ul>
                                <li> Advanced Spanish </li>
                                <li> Computer Organization </li>
                                <li> Databases and SQL </li>
                                <li> Digital Systems I </li>
                                <li> Discrete Mathematics </li>
                                <li> Intro to C Programming </li>
                                <li> Intermediate Programming C and C++ </li>
                                <li> Intro to Computer Security </li>
                                <li> Intro to Cyber Forensic Science </li>
                                <li> Logic </li>
                                <li> Networking Essentials & Tech </li>
                                <li> Operating Systems </li>
                                <li> Principles of Communication </li>
                                <li> Script Programming/Python  </li>
                            </ul>
                        </p>
                    </center>    
                </p>
            </div>
            
<!-- Add some spacing as a placeholder -->
<br/>
<br/>
<br/>
<br/>
<br/>

{% endblock %}